<app name="htmlflyfly">
	<theme name="default" folder="theme/"></theme>
	<modules>
		<!-- 系统模块 -->
		<module folder="app/">user</module>
		<module folder="app/">system</module>
	</modules>
	<plugins>
		<plugin folder="plugins" entry="plugin" name="example" />
		<plugin folder="plugins" entry="user" name="user" />
	</plugins>
</app>